.container {
  text-align: center;
}

.heading {
  color: #D1D1D1;
  font-weight: bold;
  text-decoration: underline;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.rectangle-button {
  width: 200px;
  height: 80px;
  border-radius: 5px;
  margin: 10px;
  background-color: #eaeaea;
  font-size: 16px;
  color: #333;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.rectangle-button:hover {
  background-color: #3a1b1f;
}

.tool-link {
  text-decoration: none;
  color: #333;
}

.dir-control {
  --borderWidth: 2;
  --buttonColor: #c7edef;
  --bg: hsl(0, 0%, 5%);
  --backdrop: transparent;
  --fontSize: 1;
  --horizontalPadding: 16;
  --verticalPadding: 8;
  background: var(--backdrop);
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  border-radius: 9999px;
  text-align: center;
  line-height: 24px;
  color: var(--textColor, var(--buttonColor));
  cursor: pointer;
  font-size: calc(var(--fontSize) * 1rem);
  font-weight: bold;
  font-family: sans-serif;
  outline: transparent;
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: relative;
  text-decoration: none;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  transition: transform 0.2s;
  transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1));
}

.dir-control:hover {
  --y: -5;
  --scale: 1.05;
}

.dir-control:active {
  --y: 0;
  --scale: 0.95;
}
/* 
span {
  -webkit-clip-path: var(--clip);
  bottom: calc(var(--borderWidth) * -1px);
  clip-path: var(--clip);
  left: calc(var(--borderWidth) * -1px);
  position: absolute;
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
  z-index: 1;
}

span:nth-of-type(1):hover,
span:nth-of-type(2):hover,
span:nth-of-type(3):hover,
span:nth-of-type(4):hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 2;
}

span:nth-of-type(1):hover ~ b:nth-of-type(1),
span:nth-of-type(2):hover ~ b:nth-of-type(2),
span:nth-of-type(3):hover ~ b:nth-of-type(3),
span:nth-of-type(4):hover ~ b:nth-of-type(4) {
  --clip: inset(0 0 0 0);
}

span:nth-of-type(1) {
  --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
}

span:nth-of-type(2) {
  --clip: polygon(100% 0, 100% 100%, 50% 50%);
}

span:nth-of-type(3) {
  --clip: polygon(0 100%, 100% 100%, 50% 50%);
}

span:nth-of-type(4) {
  --clip: polygon(0 0, 0 100%, 50% 50%);
} */

b {
  -webkit-clip-path: var(--clip);
  background: var(--slideColor, var(--buttonColor));
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor);
  bottom: calc(var(--borderWidth) * -1px);
  font-weight: bold;
  clip-path: var(--clip);
  color: var(--bg, #fafafa);
  left: calc(var(--borderWidth) * -1px);
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px);
  position: absolute;
  right: calc(var(--borderWidth) * -1px);
  top: calc(var(--borderWidth) * -1px);
  transition: clip-path 0.25s ease;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

b:nth-of-type(1) {
  --clip: inset(0 0 100% 0);
}

b:nth-of-type(2) {
  --clip: inset(0 0 0 100%);
}

b:nth-of-type(3) {
  --clip: inset(100% 0 0 0);
}

b:nth-of-type(4) {
  --clip: inset(0 100% 0 0);
}

#app--secondary {
  --buttonColor: hsl(0, 0%, 100%);
  --bg: hsl(0, 0%, 5%);
}

#app--filled {
  --backdrop: #c7edef;
  --slideColor: hsl(0, 0%, 5%);
  --textColor: hsl(0, 0%, 5%);
  --bg: #c7edef;
}
